# This will force all LLM calls to use CHEAP_MODE_LLM
CHEAP_MODE = ''

# Its assumed that if you have an OPENROUTER_API_KEY you want to use OpenRouter.
OPENAI_API_KEY=''
CHEAP_MODE_LLM = ''
CTO_AGENT_LLM = ''
CODER_AGENT_LLM = ''

# Otherwise, you want to use OpenAI and OPENAI_API_KEY is required.
OPENROUTER_API_KEY=''
CHEAP_MODE_LLM = ''
CTO_AGENT_LLM = ''
CODER_AGENT_LLM = ''

# You *could* set this to this repository, which means this Agent Crew will be modifying itself...
GH_REPO_NAME = ''

# You'll find this Github Access Token in your Github account's "developer settings"
GH_ACCESS_TOKEN = ''
